# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables / secrets
.env
.env.*
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Ansible
*.retry

# OS / editor files
.DS_Store
Thumbs.db
.vscode/

# Logs
*.log
session-manager-plugin.deb
session-manager-plugin.deb
